.container {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 0px;

}

.square {
    position: absolute;
    width: 200px;
    height: 200px;
}

.red {
    background-color: red;
    top: 0;
    left: 0;
    z-index: 2;
}

.green {
    background-color: #00ff00;
    top: 50px;
    left: 100px;
    z-index: 3;
}

.blue {
    background-color: blue;
    top: 100px;
    left: 200px;
    z-index: 1;
}